h1 {
    float: left;
    padding: 1px;
    background: #4aaaa5;
    margin-left: 185px;
    font-family: 'Times New Roman', Times, serif; 
    margin-bottom: 0px;
    padding: 20px;
}

div.top {
    clear: both;
    background-image: url("dark-grey-terrazzo.png");
    height: 600px;

}


div.text {
    background-color:#ffffff;
    margin-left: 14%;
    display: inline-block;
    margin-top: 100px;
    width:960px;
    border: 10px;
    padding:10px;
    border: 5px solid #dddddd;
    
    
}


img {
    float: left;
    margin-left:10px;
    margin-right: 10px;
}
h2 { 
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}
p {
    font-family: sans-serif;
}
footer {
    border-top: 8px solid #4aaaa5;
    background-color:#666666;
    height: 50px;
    color: white;
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
h6 {
    text-align: center;
  
    
}

.Links {
   float: right;
   margin-top: 55px;
   color:black;
   margin-right: 185px;
}
a { 
    color:#4aaaa5;
    text-decoration: none;
}